{cover_enabled, true}.
{cover_print_enabled, true}.
{erl_opts, [debug_info, {platform_define, "(R14|R15)", 'warnings_as_errors'}]}.
{port_specs, [{"priv/sighandler_drv.so", ["c_src/sighandler_drv.c"]},
	      {"priv/sighandler_nif.so", ["c_src/sighandler_nif.c"]}]}.
{pre_hooks, [{compile, "$PWD/support/gen_nif.escript $PWD"}]}.
{clean_files, ["*/sighandler_nif.*"]}.
{eunit_opts, [verbose]}.
